.btn1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #131512;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn1 span:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.btn1:hover span {
    padding-right: 15px;
}

.btn1:hover span:after {
    opacity: 1;
    right: 0;
}