* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #DED6D1;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 1.5;
}

.title {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    width: 100%; /* Asegura que el título ocupe todo el ancho del contenedor */
    text-align: center; /* Centra el título */
    font-family: Abril FatFace, Abril-FatFace-Fallback, Noto Color Emoji, serif;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #090C08;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}

.navbar {
    display: flex;
    position: relative;
    right: 4%;
}

.redes-Sociales {
    display: flex;
}

.logo {
    position: relative;
    left: 4%;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}

.navbar a:hover {
    color: #09A603;
}

.dropbtn {
    background-color: #090C08;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    opacity: 0;
    max-height: none;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:visited,
.dropdown-content a:focus {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #09A603;
    color: white;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #09A603;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerYouTube:hover {
    background-color: #CC0000;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 30px;
    height: auto;
    fill: white;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-about-more {
    background: #090C08;
    height: auto !important;
}

@media (min-width: 1200px) {
    .image-container img {
        max-width: 800px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
}

.modal-content {
    position: relative;
    text-align: center;
    align-items: center;
    max-width: auto;
    max-height: 650px;
    margin: auto;
    display: block;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border: none;
    outline: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 70px;
}

.image-container {
    width: calc(25% - 20px);
    margin: 10px;
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.image-container video {
    max-width: 100%;
    height: auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover img {
    filter: brightness(70%);
}

.image-container:hover video {
    filter: brightness(70%);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    from { right: -100px; }
    to { right: 70px; }
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    transition: transform 0.5s ease-in-out;
    animation: slideIn 1s forwards;
}

.whatsapp-btn img {
    width: 60px;
    height: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.2);
}

.content-contact {
    padding: 38px;
    background: #DED6D1;
    height: 85vh;
}

.content-contact p {
    margin-bottom: 2px;
    color: #090C08;
}

.content-contact .title {
    color: #090C08;
}

footer {
    position: relative;
    padding: 20px;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
}
.footer{
    width: 100%;
}

.new-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; /* Tamaño de la fuente */
}

.left-content {
    margin-left: 20px; /* Margen izquierdo para separar del borde */
}

.right-content {
    margin-right: 20px; /* Margen derecho para separar del borde */
}
.footer-line {
    border: none;
    border-top: 1px solid #090C08; /* Color de la raya */
    margin: 67px 0; /* Espaciado arriba y abajo de la línea */
}


@media screen and (max-width: 768px) {
    .gallery {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
    }

    .image-container {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }

    #modalContent {
        top: 30%;
        position: relative;
    }

    p {
        padding: 10px;
        text-align: center;
        font-family: Metropolis, Metropolis-Fallback, Noto Color Emoji, sans-serif;
    }

    .logo img {
        width: 80px;
    }

    .call-us {   
        display: none;
    }

    .content{
        height: 25vh;
    }
    .title {
        text-align: center;
        padding-left: 0;
        font-size: 38px;
        margin-top: 110px;
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
    }

    .modal-content {
        max-height: 213px;
    }

    .content-about-more {
        padding: 20px;
        width: 100%;
    }

    .content-contact .title {
        font-size: 32px;
        padding: 0;
        padding-bottom: 20px;
        margin: 20px;
    }

    .content-contact {
        padding: 20px;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .header-content-about {
        position: relative;
        top: 25%;
    }
    .navbar a {
        padding: 23px 10px;
    }
}

@media screen and (max-width: 480px) {
    .image-container {
        width: calc(50% - 20px);
    }
    @keyframes slideIn {
        from {
            right: -100px;
        }
    
        /* Empieza fuera de la pantalla */
        to {
            right: 30px;
        }
    
        /* Termina en la posición deseada */
    }
    .new-footer-content {
        flex-direction: column;
        text-align: center;
    }

    .left-content,
    .right-content {
        margin: 10px 0; /* Margen para separar los elementos verticalmente */
        margin-left: 0; /* Quita el margen izquierdo en móviles */
        margin-right: 0; /* Quita el margen derecho en móviles */
    }
    .footer-line{
        margin: 15px 0;
    }
    .content{
        height: auto;
    }
}
