* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-size: 100%;
    vertical-align: baseline;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/**************************************************************/
/*NAVBAR*/
body {
    text-align: center;
    font-family: sans-serif;
    background-color: #DED6D1;
}

h3 {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #090C08;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    /* Agrega una sombra */
}

.navbar {
    display: flex;
    position: relative;
    right: 4%

}
.redes-Sociales{
    display: flex;
}

.logo {
    position: relative;
    left: 4%;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}

.navbar a:hover {
    color: #09A603;
}

.dropbtn {
    background-color: #090C08;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    /* Ajusta el menú para que se abra hacia la derecha */
    opacity: 0;
    max-height: none;
    /* Cambiado a 'none' */
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:visited,
.dropdown-content a:focus {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #09A603;
    color: white;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #09A603;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* facebook*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerYouTube:hover {
    background-color: #CC0000; /* Cambia el color de fondo al pasar el mouse */
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    fill: white; /* Color del ícono */
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*FIN DE NAVBAR*/
/**************************************************************************/
/***********************************************************/
/*FORMULARIO*/

.schedule_box_container2 {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translateY(-44%);
    background-color: white;
    width: 40%;
    padding: 0px;
    box-sizing: border-box;
}





/*Estilo de el formulario de contactanos*/
.input-container {
    position: relative;
    margin: 30px auto;
    width: 300px;
}

.input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #242020;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container input[type="email"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #242020;
    padding: 14px 0;
    background-color: transparent;
    outline: none;
}
.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #23272482;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #0ac604;
}
.input-container input[type="email"]:focus~.label,
.input-container input[type="email"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #0ac604;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0ac604;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.input-container input[type="email"]:focus~.underline,
.input-container input[type="email"]:valid~.underline {
    transform: scaleX(1);
}

.input-container {
    position: relative;
    margin: 30px auto;
    width: 300px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-container textarea {
    width: 100%;
    height: 100px; /* Tamaño específico que desees */
    resize: none; /* Evita que el usuario redimensione el textarea */
    padding: 5px;
    border: 2px solid #242020; /* Borde para resaltar el textarea */
    border-radius: 5px; /* Opcional: bordes redondeados */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
}
.input-container textarea:focus {
    border-color: #0ac604; /* Cambia el color del borde cuando el textarea está seleccionado */
    outline: none; /* Elimina el contorno predeterminado que algunos navegadores agregan */
}
#text-area::placeholder {
    font-family: Arial, Helvetica, sans-serif; /* Cambia la fuente según tu preferencia */
}

.date-input {
    width: 300px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
}
.date-input::-webkit-datetime-edit {
    font-size: 16px; /* Tamaño del texto */
    color: #090C08;
}


/*FIN FORMULARIO*/
/***********************************************************/

/*************************************************************/
/*CONTENIDO ACOMPAÑANTE DE FORMULARIO*/

.schedule_box_container1{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-60%);
    padding: 20px;
    width: 30%;
    height: 35%;
}
h2{
    color: #f9f9f9;
    font-size: 50px;
    font-family: Abril FatFace, Abril-FatFace-Fallback, Noto Color Emoji, serif;

}

.content-about p {
    color: #DED6D1;
    text-align: justify;
}

.content-contacto {
    padding: 150px;
    background: #090C08;
    height: 70vb !important;
}

.content-about .title {
    color: #090C08;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 1.5;
    font-family: Metropolis, Metropolis-Fallback, Noto Color Emoji, sans-serif;
}



.redes-sociales-container {
    display: flex;
    justify-content: center; /* Alinear los botones horizontalmente en el centro */
    align-items: center; /* Alinear los botones verticalmente en el centro */
    height: 100vh; /* Ajustar la altura según la pantalla */
  }
  
  .redes-sociales .btn1 {
    display: flex;
    flex-direction: column; /* Colocar los botones en posición vertical */
    align-items: center;
    text-align: center; /* Alinear el texto dentro del botón */
    justify-content: center;
}

.redes-sociales .btn1 span {
    margin-left: 10px; /* Agregar espacio a la izquierda del texto */
    margin-top: 5px; /* Agregar espacio arriba del texto */
    display: flex; /* Alinear elementos en el eje horizontal */
    align-items: center; /* Alinear elementos verticalmente */
    
}
.redes-sociales .btn1 svg {
    margin-right: 19px; /* Agregar espacio entre el logo y el texto */
}
.redes-sociales .btn1 {
    margin: 10px; /* Espacio entre los botones */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Radio de borde para darle forma al botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    
}
a{
    text-decoration: none; /* Eliminar la subrayado de los enlaces */
}
/* Estilos específicos para cada botón */
.rhfacebook-btn:hover {
    background-color: #007bff; /* Color de fondo del botón */
}

.rhinstagram-btn:hover {
    background-color: #d62976; /* Color de fondo del botón */
}

.rhwhatsapp-btn:hover {
    background-color: rgb(0, 164, 14); /* Color de fondo del botón */
}

.rhyoutube-btn:hover {
    background-color: #CC0000; /* Color de fondo del botón */
}
.socialSvg {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    fill: white; /* Color del ícono */
}
.socialSvg path {
    fill: rgb(255, 255, 255);
}



/*FIN CONTENIDO DE ACOMPAÑANTE DE FORMULARIO*/
/*************************************************************/

/**********************************************************************/
/* contactenos */


.content-contact {
    padding: 100px;
    background: #DED6D1;
    height: 80vb !important;
}

.content-contact p {
    margin-bottom: 2px;
    color: #090C08;
}

.content-contact .title{
    color: #090C08;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;

}


footer {
    position: relative;
    padding: 20px;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
}
.footer{
    width: 82%;
}

.new-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; /* Tamaño de la fuente */
}

.left-content {
    margin-left: 20px; /* Margen izquierdo para separar del borde */
}

.right-content {
    margin-right: 20px; /* Margen derecho para separar del borde */
}
.footer-line {
    border: none;
    border-top: 1px solid #090C08; /* Color de la raya */
    margin: 67px 0; /* Espaciado arriba y abajo de la línea */
}


/*FIN DE CONTACTOS*/
/*******************************************************************/

/***************************************************************************/
/*WHATSAPP BOTON*/

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideIn {
    from { right: -100px; } /* Empieza fuera de la pantalla */
    to { right: 70px; } /* Termina en la posición deseada */
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    transition: transform 0.5s ease-in-out;
    animation: slideIn 1s forwards; /* Animación de entrada */
}

.whatsapp-btn img {
    width: 60px;
    height: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.2); /* Cambia el tamaño al pasar el mouse sobre él */
}
/*WHATSAPP BOTON*/
/***************************************************************************/
@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    .content {
        height: auto;
        padding: 20px;
    }

    body {
        text-align: center;
        font-family: sans-serif;
        background-color: #DED6D1;
    }

    h3 {
        font-size: 20px;
    }

    .header {
        height: auto;
    }

    .head {
        height: auto;
        flex-direction: column;
        top: 0%;
    }

    .navbar {
        margin: 0;
        justify-content: center;
        right: 0%;
    }

    .logo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        left: 0%;
    }
    .logo img {
        width: 80%;
        max-width: 150px;
        height: auto;
    }

    .navbar a {
        padding: 10px 0;
    }

    .dropbtn {
        margin-right: 0;
    }
    .dropdown-content{
        justify-content: center;
        position: relative;
    }
    .call-us {
        margin-right: 0;
    }
    .content-contacto{
        margin-top: 180px;
    }

    .schedule_box_container1,
    .schedule_box_container2 {
        position: static;
        width: auto;
        height: auto;
        transform: none;
        padding: 10px;
    }

    .input-container,
    .input-container label,
    .input-container input[type="text"],
    .input-container input[type="email"],
    .input-container textarea,
    .date-input {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }

    .content-about,
    .content-contacto,
    .content-contact {
        padding: 20px;
        height: auto !important;
    }

    .content-contact p {
        margin-bottom: 10px;
    }

    .whatsapp-btn {
        bottom: 20px;
        right: 20px;
    }
    iframe{
        width: 100%;
    }
    /* Resto*/
    .redes-sociales, .btn1{
        
        width: 90%;
    }
    .content-contact .title{
        font-size: 40px;
    }
    @keyframes slideIn {
        from {
            right: -100px;
        }
    
        /* Empieza fuera de la pantalla */
        to {
            right: 30px;
        }
    
        /* Termina en la posición deseada */
    }
    .new-footer-content {
        flex-direction: column;
        text-align: center;
    }

    .left-content,
    .right-content {
        margin: 10px 0; /* Margen para separar los elementos verticalmente */
        margin-left: 0; /* Quita el margen izquierdo en móviles */
        margin-right: 0; /* Quita el margen derecho en móviles */
    }
    .footer-line{
        margin: 15px 0;
    }
} 