* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box; /* Asegura que padding y borde se incluyan en el ancho total */
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #DED6D1;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.header, .content-service, .how-we-work, .content-about {
    width: 100%; /* Asegura que ocupen todo el ancho de la pantalla */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 2;
    text-align: justify;
}

.title {
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: 15%;
    text-transform: uppercase;
    color: #090C08;
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #090C08;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}

.navbar {
    display: flex;
    position: relative;
    right: 4%;
}

.redes-Sociales {
    display: flex;
}

.logo {
    position: relative;
    left: 4%;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}

.navbar a:hover {
    color: #09A603;
}

.dropbtn {
    background-color: #090C08;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    opacity: 0;
    max-height: none;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:visited,
.dropdown-content a:focus {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #09A603;
    color: white;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #09A603;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* instagram */
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* facebook */
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerYouTube:hover {
    background-color: #CC0000;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 30px;
    height: auto;
    fill: white;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Sección "Sobre Nosotros" */
.header-about .header-content-about h2 {
    position: absolute;
    color: #090C08;
    align-items: center;
    text-align: center;
    width: 40%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.content-about-more {
    padding: 100px 200px;
    background: #090C08;
    height: auto;
}

.content-about-more p {
    color: #DED6D1;
    text-align: justify;
}

.cita {
    position: relative;
    display: inline-block;
}

.cita p {
    border-left: 4px solid;
    text-align: left;
    padding-left: 6%;
    font-size: 30px;
}

/* Sección "Contáctenos" */
.content-contact {
    padding: 100px;
    background: #DED6D1;
    height: 86vh;
    text-align: center;
}

.content-contact p {
    margin-bottom: 2px;
    color: #090C08;
}

.content-contact .title {
    color: #090C08;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

footer {
    position: relative;
    padding: 20px;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
}
.footer{
    width: 82%;
}

.new-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; /* Tamaño de la fuente */
}

.left-content {
    margin-left: 20px; /* Margen izquierdo para separar del borde */
}

.right-content {
    margin-right: 20px; /* Margen derecho para separar del borde */
}
.footer-line {
    border: none;
    border-top: 1px solid #090C08; /* Color de la raya */
    margin: 67px 0; /* Espaciado arriba y abajo de la línea */
}

/* Botón de WhatsApp */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    from { right: -100px; }
    to { right: 70px; }
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    transition: transform 0.5s ease-in-out;
    animation: slideIn 1s forwards;
}

.whatsapp-btn img {
    width: 60px;
    height: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.2);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    p {
        padding: 10px;
        text-align: justify;
    }

    .logo img {
        width: 80px;
    }
    .navbar a {
        padding: 23px 10px;
    }

    .title {
        text-align: center;
        padding-left: 0;
        font-size: 35px;
        margin-top: 110px;
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
    }

    .modal-content {
        max-height: 213px;
    }

    .content-about-more {
        padding: 36px;
        width: 100%;
    }

    .content-about-more p {
        padding: 10px;
        text-align: justify;
    }

    .header-content-about .title {
        font-size: 25px;
    }

    .content-contact {
        padding: 0px;
        height: auto;
    }

    .content-contact .title {
        font-size: 30px;
        margin-top: 20px;
    }

    .header-about .header-content-about h2 {
        width: 100%;
        left: 50%;
        top: 22%;
    }
    .content{
        height: auto;
    }
    @keyframes slideIn {
        from {
            right: -100px;
        }
    
        /* Empieza fuera de la pantalla */
        to {
            right: 30px;
        }
    
        /* Termina en la posición deseada */
    }
    .new-footer-content {
        flex-direction: column;
        text-align: center;
    }

    .left-content,
    .right-content {
        margin: 10px 0; /* Margen para separar los elementos verticalmente */
        margin-left: 0; /* Quita el margen izquierdo en móviles */
        margin-right: 0; /* Quita el margen derecho en móviles */
    }
    .footer-line{
        margin: 15px 0;
    }
}
