* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-size: 100%;
    vertical-align: baseline;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 2;

}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}



/**************************************************************/
/*NAVBAR*/
body {
    text-align: center;
    font-family: sans-serif;
    background-color: #DED6D1;
}

h3 {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #090C08;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    /* Agrega una sombra */
}

.navbar {
    display: flex;
    margin-right: 10px;
    margin-top: 7px;

}
.redes-Sociales{
    display: flex;
}

.logo {
    margin-left: 30px;
    padding: 40px;
    width: 10%;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}

.navbar a:hover {
    color: #09A603;
}

.dropbtn {
    background-color: #090C08;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 45px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    /* Ajusta el menú para que se abra hacia la derecha */
    opacity: 0;
    max-height: none;
    /* Cambiado a 'none' */
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:visited,
.dropdown-content a:focus {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #09A603;
    color: white;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #09A603;
}




.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* facebook*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerYouTube:hover {
    background-color: #CC0000; /* Cambia el color de fondo al pasar el mouse */
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    fill: white; /* Color del ícono */
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*FIN DE NAVBAR*/
/**************************************************************************/

/**********************************************************************/
/*APARTADO DEL HEADER*/

.header {
    height: 150vh !important;
    background: url(../img/img_fondo.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%; /* Asegúrate de que el header ocupe el 100% del ancho */
    margin: 0; /* Elimina cualquier margen que podría causar desbordamiento */
    padding: 0; /* Elimina cualquier padding que podría causar desbordamiento */
}

.btn-home {
    display: flex;
    z-index: 1001;
    /* Asegura que el botón esté por encima del encabezado */
}
.btn-home .btn-btn{
    width: 20%;
}

.title {
    font-size: 65px;
    font-weight: 640;
    text-transform: uppercase;
    color: white;
}

.header-content {
    position: absolute;
    /* Cambia la posición a absoluta */
    top: 50%;
    /* Coloca el contenido en el centro verticalmente */
    left: 50%;
    /* Coloca el contenido en el centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el contenido */
    text-align: center;
    /* Alinea el texto al centro */
    color: white;
    /* Color del texto */
}

.header-content .btn {
    max-width: 100%;
    /* Establece un ancho máximo para el párrafo */
    margin: 0 auto;
    /* Centra el párrafo horizontalmente */
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 2;

}



/*FIN DE APARTADO HEADER*/
/**********************************************************************/


/********************************************************************/
/*CONTENIDO DE SERVICIO*/


.content-service {
    padding: 130px;
    background: #090C08;
    height: 100vb !important;
}

.content-service {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.service-content {
    padding: 50px;
    margin: 0%;
    width: 70%;
    /* Ancho del contenido */
    padding-left: 50px;
    /* Cambiado a padding-left */
    /* Espaciado entre el contenido y la imagen */
    text-align: left;
}

.carousel-img {
    width: 100%;
    /* Ancho fijo */
    height: 600px;
    /* Alto fijo */
    object-fit: fill;
    /* Evita que la imagen se ajuste o distorsione */
    opacity: 0.5;
    /* Valor de opacidad (0 es completamente transparente, 1 es completamente opaco) */
    max-width: none;
}

.content-service {
    padding: 50px;
    background: #090C08;
}

.carousel {
    position: relative;
    width: 70%;
    /* Cambia el ancho del carousel según tu preferencia */
    margin: 0 auto;
    /* Centra el carousel horizontalmente */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100;
    transition: opacity 0.5s ease-in-out;
    /* Ajusta la velocidad de transición */
}

.carousel-img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    /* Ajusta la imagen para llenar el contenedor */
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.);
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Alinea los elementos en el extremo inferior */
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    box-sizing: border-box;
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.carousel-caption h1,
.carousel-caption p,
.carousel-caption {
    margin: 0;
}

.carousel-caption h1 {
    font-size: 50px
}

.content-carousel {
    margin: 30px;
}


.carousel-caption button {
    margin-top: 20px;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    /* Asegura que las flechas estén sobre las imágenes */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.title {
    color: #fff;
}




/*FIN DE CONTENIDO DE SERVICIO*/
/************************************************************************/



/**********************************************************************/
/* contactenos */


.content-contact {
    padding: 100px;
    background: #DED6D1;
    height: 100vb !important;
}

.content-contact p {
    margin-bottom: 2px;
    color: #090C08;
}

.content-contact .title {
    color: #090C08;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;

}



/*FIN DE CONTACTOS*/
/*******************************************************************/


/*******************************************************************/
/*APARTADP DE COMO TRABAJAMOS*/

/* Ajusta la altura y los estilos de la sección "how-we-work" */

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-we-work {
    padding: 0%;
    margin: 0%;
    background: #090C08;
    height: 100vb !important;
    align-items: center;
    align-content: center;

}

.content-how-we-work {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.how-we-work-content {
    padding: 50px;
    margin: 0%;
    width: 70%;
    /* Ancho del contenido */
    padding-right: 50px;
    /* Espaciado entre el contenido y la imagen */
    text-align: left;
}

.how-we-work .image-area {
    width: 70%;
    height: 300%;
    display: flex;
    justify-content: flex-end;
    max-height: 100vh;
}



/*FIN DE COMO TRABAJAMOS*/
/************************************************************/

/*************************************************************/
/*CONTENIDO DE SOBRE NOSOTROS*/



.header-about .header-content-about h2 {
    position: absolute;
    color: #090C08;
    align-items: center;
    text-align: center;
    width: 40%;
    top: 30%;
    transform: translate(-50%, -50%);
    /* Centra el contenido */
}

.content-about-more p {
    color: #DED6D1;
    text-align: justify;
}

.content-about {
    padding: 120px;
    background: #DED6D1;
    height: 70vb !important;
}

.content-about .title {
    color: #090C08;
}

.content-about p {
    color: #090C08;
}



/*FIN CONTENIDO DE SOBRE NOSOTROS*/
/*************************************************************/



/***************************************************************************/
/*WHATSAPP BOTON*/

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        right: -100px;
    }

    /* Empieza fuera de la pantalla */
    to {
        right: 70px;
    }

    /* Termina en la posición deseada */
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    transition: transform 0.5s ease-in-out;
    animation: slideIn 1s forwards;
    /* Animación de entrada */
}

.whatsapp-btn img {
    width: 60px;
    height: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.2);
    /* Cambia el tamaño al pasar el mouse sobre él */
}

/*WHATSAPP BOTON*/
/***************************************************************************/

/*****************************************************************/
/*MAPA*/


/*FIN DE MAPA*/
/***************************************************************/

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    p {
        padding: 10px;
        text-align: center;
    }
    .logo img {
        width: 80px;
    }
    .call-us {
        display: none;
    }
    .logo {
        margin-left: 0;
        padding: 30px;
    }
    .title {
        text-align: center;
        padding-left: 0px;
        font-size: 40px;
    }
    .header {
        height: 100vh !important; /* Ajusta la altura en móviles si es necesario */
        background-size: cover;
        padding: 20PX;
    }
    .header-content {
        left: 55%; /* Centra horizontalmente */
    }
    .btn-home .btn-btn {
        width: 40%;
    }
    .content-service {
        padding: 50px;
        width: 100%;
    }
    .how-we-work {
        width: 100%;
    }
    .content-how-we-work {
        flex-direction: column;
    }
    .how-we-work-content {
        width: 100%;
        padding: 0 20px;
    }
    .content-contact .title {
        font-size: 40px;
    }
    .content-service, .content-about, .content-contact, .how-we-work {
        padding: 20px;
        width: 100%;
    }
    .content-about {
        height: 100vh !important;
    }
    .how-we-work .image-area {
        width: 100%;
        justify-content: center;
    }
    .carousel {
        width: 100%;
        margin: 0;
    }
    .carousel-caption {
        width: 100%;
        margin: 0;
    }
    .content-carousel p {
        font-size: 10px;
    }
    .whatsapp-btn {
        right: 20px;
    }
    iframe {
        width: 100%;
    }
    .content-carousel {
        margin: 5px;
    }
    .carousel-caption h1 {
        font-size: 45px;
    }
}