* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-size: 100%;
    vertical-align: baseline;
}




body {
    text-align: center;
    font-family: sans-serif;
    background-color: #DED6D1;
}

h3 {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #131512;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    /* Agrega una sombra */
}

.navbar {
    display: flex;
    margin-right: 10px;
    margin-top: 7px;

}

.logo {
    margin-left: 30px;
    padding: 40px;
    width: 10%;

}
.logo img{
    width: 150px;
    height: auto;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}

.navbar a:hover {
    color: #248B24;
}

.dropbtn {
    background-color: #131512;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 45px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    /* Ajusta el menú para que se abra hacia la derecha */
    opacity: 0;
    max-height: none; /* Cambiado a 'none' */
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:visited,
.dropdown-content a:focus {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #248B24;
    color: white;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #248B24;
}



.call-us {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin-right: 100PX;
}

.call-text {
    margin-right: 10px;
    /* Espacio entre el texto y el número */
    color: #DED6D1;
    padding-right: 10px;
    /* Espacio adicional a la derecha del texto */
    border-right: 3px solid #DED6D1;
    /* Borde derecho */
    font-size: 25px;
}

.phone-number {
    font-size: 25px;
    color: #DED6D1;
}




/* contactenos */

.schedule_box_container2 {
    display: inline-block;
    position: absolute;
    top: 55%;
    right: 10%;
    transform: translateY(-50%);
    background-color: white;
    padding: 20px;
    width: 30%; /* Ajusta el ancho según tus necesidades */
}

.schedule_box_container1 {
    position: absolute;
    font-size: 50px;
    color: #DED6D1;
    top: 50%;
    left: 5%;
    /* Ajusta el espacio desde el lado izquierdo */
    transform: translateY(-50%);
    padding: 20px;
    width: 40%;
    content: left;
}

/* Ajusta la altura y los estilos de la sección "how-we-work" */
.how-we-work {
    height: auto;
    /* Ajusta la altura automáticamente */
    background: none;
    /* Elimina el color de fondo */
}

.how-we-work-content {
    width: 100%;
    /* Utiliza el ancho completo */
    padding: 0;
    /* Elimina el relleno */
}




/*Estilo de el formulario de contactanos*/
.input-container {
    position: relative;
    margin: 30px auto;
    width: 300px;
}

.input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #242020;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #23272482;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #04ff00;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #04ff00;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}
.input-container {
    position: relative;
    margin: 30px auto;
    width: 300px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-container textarea {
    width: 100%;
    height: 100px; /* Tamaño específico que desees */
    resize: none; /* Evita que el usuario redimensione el textarea */
    padding: 5px;
    border: 2px solid #242020; /* Borde para resaltar el textarea */
    border-radius: 5px; /* Opcional: bordes redondeados */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
}
.input-container textarea:focus {
    border-color: #04ff00; /* Cambia el color del borde cuando el textarea está seleccionado */
    outline: none; /* Elimina el contorno predeterminado que algunos navegadores agregan */
}
#text-area::placeholder {
    font-family: Arial, Helvetica, sans-serif; /* Cambia la fuente según tu preferencia */
}

.date-input {
    width: 300px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
}
.date-input::-webkit-datetime-edit {
    font-size: 16px; /* Tamaño del texto */
    color: #090C08;
}









.header {
    height: 150vh !important;
    /* Modifica el tamaño de la imagen del encabezado */
    background: url(img/img_fondo.jpg) no-repeat center;
    /* Agrega la imagen del encabezado */
    background-size: cover;
    /* Hace que la imagen del encabezado se agrande a medida de la pantalla*/
    background-attachment: fixed;
    /* Fija la imagen de fondo */
}

.btn-home {
    display: flex;
    z-index: 1001;
    /* Asegura que el botón esté por encima del encabezado */
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.header-content {
    position: absolute;
    /* Cambia la posición a absoluta */
    top: 50%;
    /* Coloca el contenido en el centro verticalmente */
    left: 50%;
    /* Coloca el contenido en el centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el contenido */
    text-align: center;
    /* Alinea el texto al centro */
    color: white;
    /* Color del texto */
}

.header-content .btn {
    max-width: 100%;
    /* Establece un ancho máximo para el párrafo */
    margin: 0 auto;
    /* Centra el párrafo horizontalmente */
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 2;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background: #131512;
}

.btn:hover {
    background: #248B24;
    transition: background-color 0.2s;
}

.btn-home {
    display: flex;
}

.btn-home {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-service {
    padding: 130px;
    background: #131512;
    height: 120vb !important;
}

.content-about {
    padding: 120px;
    background: #DED6D1;
    height: 70vb !important;
}

.content-about .title {
    color: #090C08;
}

.content-about p {
    color: #090C08;
}





.how-we-work {
    padding: 0%;
    margin: 0%;
    background: #131512;
    height: 100vb !important;
    align-items: center;
    align-content: center;

}

.content-how-we-work {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.how-we-work-content {
    padding: 50px;
    margin: 0%;
    width: 70%;
    /* Ancho del contenido */
    padding-right: 50px;
    /* Espaciado entre el contenido y la imagen */
    text-align: left;
}

.how-we-work .image-area {
    width: 70%;
    height: 300%;
    display: flex;
    justify-content: flex-end;
    max-height: 100vh;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Servicios*/

.service {
    padding: 0%;
    margin: 0%;
    background: #131512;
    height: 100vb !important;
    align-items: center;
    align-content: center;
}

.content-service {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.service-content {
    padding: 50px;
    margin: 0%;
    width: 70%;
    /* Ancho del contenido */
    padding-left: 50px; /* Cambiado a padding-left */
    /* Espaciado entre el contenido y la imagen */
    text-align: left;
}

.service .image-area {
    width: 70%;
    height: 300%;
    display: flex;
    justify-content: flex-start; /* Cambiado a flex-start */
    max-height: 100vh;
}

.image-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-area-service img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}






/*Botones ver mas*/
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ff37;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  








.content-contact {
    padding: 100px;
    background: #DED6D1;
    height: 100vb !important;
}

.content-contact p {
    margin-bottom: 2px;
    color: #090C08;
}

.content-contact .title {
    color: #090C08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box-1,
.box-2,
.box-3 {
    height: 23rem;
    width: 22rem;
    background: #DED6D1;
    border-radius: 1rem;
    box-shadow: 0.3rem 5rem rgb(0, 0, 0 .5);
    margin: 2rem;
}

.box-container .box-1 img,
.box-container .box-2 img,
.box-container .box-3 img {
    max-width: 100%;
    /* Establece un ancho máximo para la imagen */
    max-height: 100%;
    /* Establece una altura máxima para la imagen */
    border-top-left-radius: 15px;
    /* Redondear esquina superior izquierda */
    border-top-right-radius: 15px;
    /* Redondear esquina superior derecha */
    object-fit: cover;
    /* Ajusta la imagen para que ocupe todo el espacio disponible */
}

.box-1 p,
.box-2 p,
.box-3 p {
    color: #090C08;
}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }
}




.header-about .header-content-about h2 {
    position: absolute;
    color: #090C08;
    align-items: center;
    text-align: center;
    width: 40%;
    top: 30%;
    transform: translate(-50%, -50%);
    /* Centra el contenido */
}

.content-about-more p {
    color: #DED6D1;
    text-align: justify;
}

.content-about-more {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    background: #131512;
    height: 100vb !important;
}

.cita {
    position: relative;
    display: inline-block;
}

.cita p {
    border-left-width: 4px;
    border-left-style: solid;
    text-align: left;
    padding-left: 6%;
    font-size: 30px;
}
/***************************************************************************/
/*WHATSAPP BOTON*/

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideIn {
    from { right: -100px; } /* Empieza fuera de la pantalla */
    to { right: 70px; } /* Termina en la posición deseada */
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 70px;
    transition: transform 0.5s ease-in-out;
    animation: slideIn 1s forwards; /* Animación de entrada */
}

.whatsapp-btn img {
    width: 60px;
    height: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.2); /* Cambia el tamaño al pasar el mouse sobre él */
}
/*WHATSAPP BOTON*/
/***************************************************************************/