*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #131512;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50); /* Agrega una sombra */
}
.navbar {
    display: flex;
    margin-right: 10px;
    margin-top: 25px;

}
.logo{
    margin-left: 30px;
    background-color: #248B24    ;
    padding: 40px;
    
}
.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;

}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.4s;
}
.navbar a:hover {
    color: #248B24;
}
.header {
    height: 150vh !important; /* Modifica el tamaño de la imagen del encabezado */
    background: url(img/img_fondo.jpg) no-repeat center; /* Agrega la imagen del encabezado */
    background-size: cover; /* Hace que la imagen del encabezado se agrande a medida de la pantalla*/
    background-attachment: fixed; /* Fija la imagen de fondo */
}

.btn-home {
    display: flex;
    z-index: 1001; /* Asegura que el botón esté por encima del encabezado */
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.header-content {
    position: absolute; /* Cambia la posición a absoluta */
    top: 50%; /* Coloca el contenido en el centro verticalmente */
    left: 50%; /* Coloca el contenido en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el contenido */
    text-align: center; /* Alinea el texto al centro */
    color: white; /* Color del texto */
}
.header-content .btn{
    max-width: 100%; /* Establece un ancho máximo para el párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    line-height: 2;

}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background: #131512;
}
.btn:hover{
    background: #248B24;
    transition: background-color 0.2s;
}
.btn-home {
    display: flex;
}
.btn-home{
    margin: 0 10px;
}
.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content-service {
    padding: 130px;
    background: #131512;
    height: 120vb !important;
}
.content-about{
    padding: 120px;
    background: #DED6D1;
    height: 70vb !important;
}
.content-about .title{
    color: #090C08;
}
.content-about p{
    color: #090C08;
}


.how-we-work {
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;

}
.how-we-work p{
    width: 50%;
    padding-left: 50px;
}

.how-we-work{
    padding: 100px;
    background: #131512;
    height: 100vb !important;
    
}
.how-we-work-content {
    width: 50%; /* Ancho del contenido */
    padding-right: 20px; /* Espaciado entre el contenido y la imagen */
}

.image-area {
    width: 50%; /* Ancho de la imagen */
    display: flex; /* Utiliza flexbox para alinear la imagen */
    justify-content: flex-end; /* Alinea la imagen al final del contenedor */
    align-items: right; /* Centra verticalmente la imagen */
}

.image-area img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}



.content-contact{
    padding: 100px;
    background: #DED6D1;
    height: 106vb !important;
}
.content-contact p{
    margin-bottom: 2px;
    color: #090C08;
}
.content-contact .title{
    color: #090C08;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box-1, .box-2, .box-3{
    height: 23rem;
    width: 22rem;
    background: #DED6D1;
    border-radius: 1rem;
    box-shadow: 0.3rem 5rem rgb(0, 0, 0 .5);
    margin: 2rem;
}

.box-1 img, .box-2 img, .box-3 img {
    width: 100%; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto; /* Para mantener la proporción de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    border-top-left-radius: 15px; /* Redondear esquina superior izquierda */
    border-top-right-radius: 15px; /* Redondear esquina superior derecha */
}
h3{
    font-size: 20px;
}

.box-1 p, .box-2 p, .box-3 p{
    color: #090C08;
}
@media (max-width: 768px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau{
        height: 120vh;
    }

    .navbar{
        display: none;
    }
}